body {
    background: pink;
}

.row {
    display:flex;
    flex-wrap:wrap;
    padding:0 40px;
}
    
/* Create four equal columns that sit next to each other */
.column {
flex:25%;
max-width:25%;
padding:4px;
}
    
.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
} 

/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
.column {
flex: 50%;
max-width: 50%;
}
} */
   
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
.column {
flex: 100%;
max-width: 100%;
}
} */

/*<---testing CSS from w3 schools hover image and text--> */
.container {
    position: relative;
    width: 100%;
  }
  
  .image { 
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: pink;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* with writing-mode */
/* h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #852c98;
    margin: 0.15em 0.75em 0 0;
    font-family: 'Helvetica';
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-font-feature-settings: "vkrn", "vpal";
    font-feature-settings: "vkrn", "vpal";
  } */

  /* .image {
    display: block;
    width: 100%;
    height: auto;
  } */

.right {
    position: absolute;
    /* font-family: "Cooper Black"; */
    font-size: 40px;
    color: #008CBA;
    top: 300px;
    /* left: 0px; */
    right: 150px;
    width: 800px;
    padding: 20px;
    /* display: flex; */
    height: 800px;
    /* margin: auto; */
    align-items:right;
    justify-content:right;
    transform: rotate(90deg);
}
/* unvisited link */
a:link {
    color: yellow;
  }
  
  /* visited link */
  a:visited {
    color: pink;
  }
  
  /* mouse over link */
  a:hover {
    background-color: magenta;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  } 
  
  a:link {
    text-decoration:none;  
  }